body {
    height: 100dvh;
    width: 100vw;
    background: rgb(16, 16, 16);
    font-family: Helvetica, sans-serif, Arial;
    color: #F1FAFF;
    margin: 0px;
    padding: 0px;
    background: none;
    overflow: hidden;
}
header {
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 75px;
}
.top {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 16);
    height: 100%;
    display: flex;
    width: 100%;
    position: sticky;
}
.top ul {
    margin: 0;
    padding: 0;
    padding-right: 1%;
    position: relative;
    list-style: none;
    width: 70%;
    height: 100%;
    margin-left: auto;
    direction: rtl;
}
.butt-li {
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 10%;
}
.nav-button {
    position: relative;
    width: 10%;
    height: 75%;
    margin: 10px;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    font-size: 130%;
    transition: background-color 0.2s;
    cursor: pointer;
    vertical-align: middle;
    line-height: 200%;
    color: #F1FAFF;
    border-radius: 15px;
}
.nav-button:hover {
    background-color: rgba(95, 12, 130, 0.5);
    border-color: rgb(95, 12, 130);
}
.nav-button a {
    display: block;
    width: 100%;
    height: 100%; 
}
.logo {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    height: 75%;
    width: 4em;
}
.social-icon {
    position: relative;
    padding: 0px 15px 0px 10px;
    color: #F1FAFF;
    transition: color 0.2s;
    font-size: 300%;
    top: .4em;
}
.social-icon:hover {
    color: rgb(95, 12, 120);
}
.hamburger {
    display: none;
}
.name2 {
    display: none;
}
.mobile-nav {
    display: none;
}
.main {
    margin: 0;
    padding: 10dvh 0 0 0;
    height: 100%;
    width: 100%;
    background-color: rgb(21, 21, 21);
    overflow-y: auto;
}
.image-con {
    height: 37vh;
    width: 100%;
    object-fit: contain;
    position: relative;
    text-align: center;
}
.me_circle {
    width: 35vh;
    height: 35vh;
    padding: 1vh 0;
}
.info {
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 96%;
    padding: 1% 2%;
}
.who-am-i {
    margin-right: 2%;
    width: 100%;
    line-height: 30px;
}
.why-hire {
    width: 100%;
    line-height: 30px;
}
.bottom {
    margin: 0;
    width: 100%;
    height: 16vh;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
    position: relative;
    margin-top: 2%;
}
hr {
    margin: 0;
    border-color: rgb(95, 12, 130);
}
@media only screen and (min-width: 1000px) and (max-width: 1366px) {
    .body {
        height: 100dvh;
    }
    .header {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    .nav-button {
        width: 15%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 999px) {
    .top {
        width: 100%;
        z-index: 99;
    }
    .hamburger {
        position: relative;
        display: block;
        width: 14%;
        cursor: pointer;
        height: 70%;
        padding-top: 20px;
        right: 2%;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 15%;
        background-color: rgb(255, 255, 255);
        margin: 8px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-10px, 10px)
    }
    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-8px, -8px)
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: rgb(16, 16, 16);
        padding-top: 100px;
        transition: 0.4s;
    }
    .mobile-nav a {
        text-align: center;
        display: block;
        margin: 0 auto 16px;
        width: 100%;
        max-width: 200px;
        padding: 12px 16px;
        background-color: rgb(21, 21, 21);
        border: 1px solid rgb(95, 12, 130);
    }
    .mobile-nav a:hover {
        background-color: rgb(95, 12, 120);
    }
    .mobile-nav.is-active {
        left: 0;
    }
    .social-icon {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .info {
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .top {
        width: 100%;
        z-index: 99;
    }
    .hamburger {
        position: relative;
        display: block;
        width: 18%;
        cursor: pointer;
        height: 70%;
        padding-top: 20px;
        right: 2%;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 15%;
        background-color: rgb(255, 255, 255);
        margin: 8px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-10px, 10px)
    }
    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-8px, -8px)
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: rgb(16, 16, 16);
        padding-top: 100px;
        transition: 0.4s;
    }
    .mobile-nav a {
        text-align: center;
        display: block;
        margin: 0 auto 16px;
        width: 100%;
        max-width: 200px;
        padding: 12px 16px;
        background-color: rgb(21, 21, 21);
        border: 1px solid rgb(95, 12, 130);
    }
    .mobile-nav a:hover {
        background-color: rgb(95, 12, 120);
    }
    .mobile-nav.is-active {
        left: 0;
    }
    .social-icon {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .info {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 399px) {
    .top {
        width: 100%;
        z-index: 99;
    }
    .hamburger {
        position: relative;
        display: block;
        width: 21%;
        cursor: pointer;
        height: 70%;
        padding-top: 20px;
        right: 2%;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 15%;
        background-color: rgb(255, 255, 255);
        margin: 8px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-10px, 10px)
    }
    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-8px, -8px)
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: rgb(16, 16, 16);
        padding-top: 100px;
        transition: 0.4s;
    }
    .mobile-nav a {
        text-align: center;
        display: block;
        margin: 0 auto 16px;
        width: 100%;
        max-width: 200px;
        padding: 12px 16px;
        background-color: rgb(21, 21, 21);
        border: 1px solid rgb(95, 12, 130);
    }
    .mobile-nav a:hover {
        background-color: rgb(95, 12, 120);
    }
    .mobile-nav.is-active {
        left: 0;
    }
    .social-icon {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .info {
        flex-wrap: wrap;
    }
}